body {
    background: linear-gradient(to bottom right, #82C3C5, white);
    font-family: 'DejaVu Sans Mono', monospace;
    margin: 0;
}


.header {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
    color: #000; /* Black text */
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}



.brand {
    font-size: 24px;
    font-weight: bold;
}

.account-link {
    display: flex;
    align-items: center;
}

    .account-link:hover {
    }

.account-icon {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    margin-left: 1px; /* Adjust the spacing between the icon and text */
}

.account-link:hover .account-icon {
    transform: scale(1.2); /* Enlarge the image on hover */
}

    .account-link:hover .account-icon:hover {
        background-color: transparent !important;
    }

.choices {
    display: flex;
    align-items: center;
}

    .choices a {
        color: #000; /* Black text */
        text-decoration: none;
        margin-left: 20px;
        position: relative; /* Needed for absolute positioning of the pseudo-element */
        padding-right: 5px;
        padding-left: 5px;
    }

        .choices a:hover::before {
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #82C3C5;
            padding: 31px;
            background-color: #82C3C5;
            z-index: -1;
            opacity: 0.3; /* Adjusted opacity for subtle effect */
            border-radius: 5px; /* Added border-radius for smoother edges */
        }


.containerx {
    max-width: 800px;
    margin: 100px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

canvas {
    margin: 100px auto 0; /* Center the canvas and add a top margin of 20px */
    display: block; /* Make the canvas a block element */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}