body {
    background: linear-gradient(to bottom right, #84A5E3, white);
    font-family: 'DejaVu Sans Mono', monospace;
    margin: 0;
}


.header {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
    color: #000; /* Black text */
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.account-link {
    display: flex;
    align-items: center;
}

.account-icon {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.choices {
    display: flex;
    align-items: center;
}

    .choices a {
        color: #000; /* Black text */
        text-decoration: none;
        margin-left: 20px;
        position: relative; /* Needed for absolute positioning of the pseudo-element */
        padding-right: 5px;
        padding-left: 5px;
    }

        .choices a:hover::before {
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #6C81C0;
            padding: 31px;
            background-color: #6C81C0;
            z-index: -1;
            opacity: 0.3; /* Adjusted opacity for subtle effect */
            border-radius: 5px; /* Added border-radius for smoother edges */
        }

.create-group-btn {
    text-align: center;
    width: 250px;
    margin-left: 30px;
    background-color: #8B83C6;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    display: block;
}

    .create-group-btn:hover {
        background-color: #675d99;
        color: #84A5E3;
    }

/* CSS for Doctor Display */
.doctors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.doctor-square {
    position: relative;
    width: 250px;
    margin: 10px;
    padding: 20px;
    background-color: #3E5282;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
    overflow: hidden;
}

    .doctor-square h2,
    .doctor-square p {
        margin: 0;
    }

.doctor-image {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 20px;
    overflow: hidden;
}

    .doctor-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #84A5E3;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.doctor-square::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    z-index: -1;
}

.doctor-square::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: -1;
}




.search {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: white;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

#search-container {
    margin: 1em 0;
}


    #search-container input {
        background-color: transparent;
        width: 40%;
        border-bottom: 2px solid #10718f;
        padding: 1em 0.3em;
    }

        #search-container input:focus {
            border-bottom-color: #10718f;
        }

    #search-container button {
        padding: 1em 2em;
        margin-left: 1em;
        background-color: #10718f;
        color: white;
        border-radius: 5px;
        margin-top: 0.5em;
    }

.button-value {
    border: 2px solid #10718f;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #10718f;
    cursor: pointer;
}

.active {
    background-color: #10718f;
    color: white;
}

#events {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}

.card {
    background-color: white;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgb(9, 111, 145);
}

.image-container {
    text-align: center;
}


.card img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

.container {
    padding-top: 1em;
    color: black;
}

    .container h5 {
        font-weight: 500;
    }

@media screen and (max-width: 700px) {

    img {
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }

    .card {
        max-width: 10em;
        margin-top: 1em;
    }

    #events {
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
}


