@model QueryVM

@{
    ViewData["Title"] = "Answer Query";
}
<link rel="stylesheet" type="text/css" href="/css/Doctor/Answer.css">

<header class="header">
    <div class="brand">Qure</div>


    <nav class="choices">
        <a asp-action="Queries" asp-controller="Doctor">User Queries</a>
        <a asp-action="Forum" asp-controller="Doctor">Doctors Forum</a>
        <a asp-action="" asp-controller="Doctor">Analytics</a>
        <a asp-action="MyAccount" asp-controller="Patient" class="account-link">
            <img src="https://i.imgur.com/69kGIrt.png" alt="My Account" class="account-icon">
        </a>


    </nav>
</header>
<h2>Answer Query</h2>

<div readonly>
    <label asp-for="QueryTitle" class="control-label">Query:</label>
    <input asp-for="QueryTitle" class="form-control">
    @Model.Description
    Votes: @Model.Votes

</div>


<form method="post">
<div>
    <label class="control-label">Answer Body:</label>
    <textarea  class="form-control" rows="4"></textarea>
</div>

<div class="form-group">
    <button type="submit" asp-controller="Doctor" asp-action="Answer"  class="btn btn-primary">Submit Answer</button>
</div>
</form>