@model QueryVM

@{
    ViewData["Title"] = "Answer Query";
}

<h2>Answer Query</h2>

<div readonly>
    <label asp-for="QueryTitle" class="control-label">Query:</label>
    <input asp-for="QueryTitle" class="form-control">
    @Model.Description
    Votes: @Model.Votes

</div>


<form method="post">
<div>
    <label class="control-label">Answer Body:</label>
    <textarea  class="form-control" rows="4"></textarea>
</div>

<div class="form-group">
    <button type="submit" asp-controller="Doctor" asp-action="Answer"  class="btn btn-primary">Submit Answer</button>
</div>
</form>