@model DiscussionForumDTO

<link rel="stylesheet" type="text/css" href="/css/doctor/forum.css">


<header class="header">
    <div class="brand">Qure</div>
    <nav class="choices">
        <a asp-action="Queries" asp-controller="Doctor">User Queries</a>
        <a asp-action="Forum" asp-controller="Doctor">Doctors Forum</a>
        <a asp-action="" asp-controller="Doctor">Analytics</a>
        <a asp-action="MyAccount" asp-controller="Patient" class="account-link">
            <img src="https://i.imgur.com/69kGIrt.png" alt="My Account" class="account-icon">
        </a>


    </nav>
</header>


<h1>Create Discussion Group</h1>

<form asp-controller="DiscussionGroup" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="GroupTitle">Group Title:</label>
        <input asp-for="GroupTitle" class="form-control" />
        <span asp-validation-for="GroupTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RelatedTags">Related Tags:</label>
        <input asp-for="RelatedTags" class="form-control" />
        <span asp-validation-for="RelatedTags" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GroupAdmin">Group Admin:</label>
        <input asp-for="GroupAdmin" class="form-control" />
        <span asp-validation-for="GroupAdmin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiscussionTopic">Discussion Topic:</label>
        <input asp-for="DiscussionTopic" class="form-control" />
        <span asp-validation-for="DiscussionTopic" class="text-danger"></span>
    </div>
    <div class="row mt-4">
        <div class="col-md-2 align-self-end">
            <label>Choose Doctors:</label>
            <select asp-for="SelectedMembers" class="control-label d-block checkbox-label" name="SelectedMembers">
               
                <ul class="list-unstyled checkboxes"
                @foreach (var item in Model.AllMembers)
                {
                    
                    <option value="@item.Id">
                        @item.FirstName @item.LastName
                    </option>

                }

            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
