@model List<DoctorDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="/css/doctor/forum.css">
<link rel="stylesheet" type="text/css" href="/css/site.css">
<script src="~/js/Doctor/Forum.js" ></script>


<body>

    <div>
        <a asp-action="CreateForum" asp-controller="Doctor" style="    text-align: center;
    width: 250px;
    margin-left: 30px;
    background-color: #8B83C6;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    display: block;">Create Discussion Group</a>
        <a asp-action="ViewForums" asp-controller="Doctor" style="    text-align: center;
    width: 250px;
    margin-left: 30px;
    background-color: #8B83C6;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    display: block;">View Discussion Groups</a>
    </div>
    
    <div class="doctors-container">
        @foreach (var doctor in Model)
        {
            <div class="doctor-square">
                <div class="doctor-image">
                    <img src="~/img_doctor.jpg" alt="My Account" class="account-icon">

                </div>
                <h2>Dr. @doctor.FirstName @doctor.LastName</h2>
                <p>@doctor.Speciality</p>
            </div>
        }
    </div>


  

</body>




