@model List<DoctorDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="/css/doctor/forum.css">
<link rel="stylesheet" type="text/css" href="/css/site.css">
<script src="~/js/Doctor/Forum.js" ></script>


<body>

    <div>
        <a asp-action="CreateForum" asp-controller="Doctor" class="create-group-btn">Create Discussion Group</a>
        <a asp-action="ViewForums" asp-controller="Doctor" class="create-group-btn">View Discussion Groups</a>
    </div>
    
    <div class="doctors-container">
        @foreach (var doctor in Model)
        {
            <div class="doctor-square">
                <div class="doctor-image">
                    <img src="~/img_doctor.jpg" alt="My Account" class="account-icon">

                </div>
                <h2>Dr. @doctor.FirstName @doctor.LastName</h2>
                <p>@doctor.Speciality</p>
            </div>
        }
    </div>


  

</body>




