<a asp-action="Queries" asp-controller="Doctor">User Queries</a>
<a>Paid Consultancy</a>
<a asp-action="Create" asp-controller="Doctor">Have a query in mind?</a>
<a>Need Help?</a>
<a asp-action="MyAccount" asp-controller="Doctor">View your personal account</a>