<link rel="stylesheet" type="text/css" href="/css/Doctor/Index.css">

<header class="header">
    <div class="brand">Qure</div>


    <nav class="choices">
        <a asp-action="Queries" asp-controller="Doctor">User Queries</a>
        <a asp-action="Forum" asp-controller="Doctor">Doctors Forum</a>
        <a asp-action="" asp-controller="Doctor">Analytics</a>
        <a asp-action="MyAccount" asp-controller="Patient" class="account-link">
            <img src="https://i.imgur.com/69kGIrt.png" alt="My Account" class="account-icon">
        </a>


    </nav>
</header>
