<link rel="stylesheet" type="text/css" href="/css/Doctor/Index.css">


<div class="buttons-container">
    <div class="button">
        <a asp-action="Queries" asp-controller="Doctor">User Queries</a>
    </div>

    <div class="button">
        <a>Paid Consultancy</a>
    </div>

    <div class="button">
        <a asp-action="Create" asp-controller="Doctor">Have a query in mind?</a>
    </div>

    <div class="button">
        <a>Need Help?</a>
    </div>

    <div class="button">
        <a asp-action="MyAccount" asp-controller="Doctor">View your personal account</a>
    </div>
</div>
