@model List<DoctorDTO>
<link rel="stylesheet" type="text/css" href="/css/Patient/consultants.css">

<!DOCTYPE html>
<html>
<head>
    <title>Qure - Consultants</title>
</head>
<body>
    <header class="header">
        <div class="brand">
            <a href="https://naghammzs02.wordpress.com/" style="text-decoration: none; color: inherit;">Qure</a>
        </div>        <nav class="choices">
            <a asp-action="Queries" asp-controller="Patient">User Queries</a>
            <a asp-action="Consultants" asp-controller="Patient">Paid consultancy</a>
            <a asp-action="Index" asp-controller="Analytics">Analytics</a>
            <a asp-action="MyAccount" asp-controller="Patient" class="account-link">
                <img src="https://i.imgur.com/mFIq1e0.png" alt="My Account" class="account-icon">
            </a>
        </nav>
    </header>

    <h2 class="instruction">Choose your consultant</h2>


        <div class="doctors-container">
            @foreach (var doctor in Model)
            {
                <a asp-action="Details" asp-controller="Patient" asp-route-id="@doctor.Id">

                <div class="doctor-square">
                    <div class="doctor-image">
                        <img src="~/img_doctor.jpg" alt="My Account" class="account-icon">

                    </div>
                    <h2>Dr. @doctor.FirstName @doctor.LastName</h2>
                    <p>@doctor.Speciality</p>
                </div>
            </a>

            }
        </div>



</body>
</html>
