@model PatientQuestionVM

<form asp-controller="Patient" asp-action="Create" method="post">

    <input asp-for="QuestionTitle" class="form-control form-control-lg" type="text" placeholder="Inquiry Title">


    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea asp-for="QuestionBody" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>


        <div>
        @if(Model.QuestionTag != null)
        {
          @foreach (var item in Model.QuestionTag)
             {
                <div>
                    <label asp-for="QuestionTag"> @item </label>
                    <input type="checkbox" id="@item" name="QuestionTag" value="@item">

                </div>
            }   
        }
            
        </div>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
    <div>
        <a type="button" class="btn btn-primary" asp-controller="Patient" asp-action="Index"> Back </a>
    </div>
</form>