@model PatientQuestionVM

<form>

    <input class="form-control form-control-lg" type="text" placeholder="Inquiry Title">


    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="dropdown">

        <div>
             @foreach (var item in Model.QuestionTag)
             {
                <div>
                    <label asp-for="@item"> @item </label>
                    <input type="checkbox" id="@item" name="checkboxName" value="@item">
                    <!-- You can adjust the id, name, and value attributes as needed -->
                </div>
            }
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>