@model PatientQuestionVM
<link rel="stylesheet" type="text/css" href="/css/Patient/create.css">


<form asp-controller="Patient" asp-action="Create" method="post" class="patient-form">

    <input asp-for="QuestionTitle" class="form-control form-control-lg" type="text" placeholder="Inquiry Title">

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Inquiry Details</label>
        <textarea asp-for="QuestionBody" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type your inquiry here"></textarea>
    </div>

    <div class="tag-section">
        @foreach (var item in Model.QuestionTag)
        {
            <div class="tag-item">
                <label asp-for="QuestionTag"> @item </label>
                <input type="checkbox" id="@item" name="QuestionTag" value="@item">
            </div>
        }
    </div>

    <div class="button-section">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a type="button" class="btn btn-secondary" asp-controller="Patient" asp-action="Index"> Back </a>
    </div>

</form>
