<link rel="stylesheet" type="text/css" href="/css/Patient/Index.css">


<header class="header">
    <div class="brand">Qure</div>
 

    <nav class="choices">
        <a asp-action="Queries" asp-controller="Patient">User Queries</a>
        <a asp-action="Consultants" asp-controller="Patient">Paid consultancy</a>
        <a asp-action="" asp-controller="Patient">Analytics</a>
        <a asp-action="MyAccount" asp-controller="Patient" class="account-link">
            <img src="https://i.imgur.com/mFIq1e0.png" alt="My Account" class="account-icon">
        </a>

    </nav>
</header>

