<link rel="stylesheet" type="text/css" href="/css/Patient/Index.css">

<div class="patient-links">
    <a asp-action="Queries" asp-controller="Patient" class="link">User Queries</a>
    <a class="link">Paid Consultancy</a>
    <a asp-action="Create" asp-controller="Patient" class="link">Have a query in mind?</a>
    <a class="link">Need Help?</a>
    <a asp-action="MyAccount" asp-controller="Patient" class="link">View your personal account</a>
</div>
