<a asp-action="Queries" asp-controller="Patient">User Queries</a>
<a>Paid Consultancy</a>
<a asp-action="Create" asp-controller="Patient">Have a query in mind?</a>
<a>Need Help?</a>
<a>View your personal account</a>