@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>@ViewData["Title"] QURE</title>
    <link rel="stylesheet" href="/css/Home/Index.css">
    <script src="~/js/Home/Index.js"></script>
</head>

<body>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to QURE</h1>
            <p class="lead">Crafting Health Solutions One Click at a Time.</p>
        </div>
    </div>
    <div class="login-container-wrapper">
        <div class="login-container">
            <div class="login-text">Login/Register as</div>

            <div>
                <a type="button" class="user-box" asp-controller="Account" asp-action="Register">
                    Patient
                </a>
                
            </div>
            <div class="user-box" asp-controller="Acccount" asp-action="doctorRegister">Medical Practitioner</div>
            <div class="user-box" asp-controller="Account" asp-action="Login">Administrator</div>
            <div class="user-box" asp-controller="Account" asp-action="Login">Login</div>


            <div class="separator-line"></div>

            <div class="next-button" id="nextButton">
                <div class="next-button-text">Next</div>
            </div>
        </div>
    </div>
</body>

