body {
    background: linear-gradient(to bottom right, #5BA9A9, #84A5E3);
    color: #333;
    margin: 0;
    font-family: 'DejaVu Sans Mono', monospace;
    height: 100vh;
}
.container {
    margin-top: 100px !important; 

}

.jumbotron p {
    margin-top: 20px !important; 

}

.login-container-wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 450px;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.separator-line {
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.login-text {
    color: black;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.user-box {
    width: 100%;
    color: black;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.4); /* Transparent white */
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

    .user-box.clicked {
        background: #5BA9A9;
    }


.user-box:hover,
.next-button:hover {
    background: linear-gradient(to bottom right, #5BA9A9, #84A5E3);
}

.login-container p {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0); /* Transparent white */
}

.header {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
    color: #000; /* Black text */
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.choices {
    display: flex;
    align-items: center;
}

    .choices a {
        color: #000; /* Black text */
        text-decoration: none;
        margin-left: 20px;
    }

