<div class="modal fade" id="pleaseWaitModal" tabindex="-1" role="dialog" aria-labelledby="pleaseWaitModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pleaseWaitModalLabel">Please Wait for Approval</h5>
            </div>
            <div class="modal-body">
                Your request is being processed. Please wait for approval.
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-primary" id="continueButton">Continue</button>
            </div>
        </div>
    </div>
</div>

