/* Existing CSS styles */
body {
    background: linear-gradient(to bottom right, #82C3C5, white);
    font-family: 'DejaVu Sans Mono', monospace;
    margin: 0;
}

/* Updated styles */
.header {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.account-link {
    display: flex;
    align-items: center;
}

.account-icon {
    width: 50px;
    height: auto;
    margin-left: 1px;
}

.choices {
    display: flex;
    align-items: center;
}

    .choices a {
        color: #000;
        text-decoration: none;
        margin-left: 20px;
        position: relative;
        padding-right: 5px;
        padding-left: 5px;
    }

        .choices a:hover::before {
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #82C3C5;
            padding: 31px;
            background-color: #82C3C5;
            z-index: -1;
            opacity: 0.3; /* Adjusted opacity for subtle effect */
            border-radius: 5px; /* Added border-radius for smoother edges */
        }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

.doctor-square {
    position: relative;
    width: 250px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); /* Added background color with transparency */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added a box shadow for matte effect */
}


    .doctor-square h2 {
        margin: 0;
        font-size: 14px; /* Adjust font size */
    }

.wrapper {
    width: 95%;
    margin: 0 auto;
}

#search-container {
    margin: 1em 0;
}


    #search-container input {
        background-color: transparent;
        width: 40%;
        border-bottom: 2px solid #10718f;
        padding: 1em 0.3em;
    }

        #search-container input:focus {
            border-bottom-color: #10718f;
        }

    #search-container button {
        padding: 1em 2em;
        margin-left: 1em;
        background-color: #10718f;
        color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

    .link:hover {
        background-color: #155484;
        color: white;
    }
.instruction {
    margin-top: 40px; 
}