body {
    background: linear-gradient(to bottom right, #94BCD7, white);
    font-family: 'DejaVu Sans Mono', monospace;
    margin: 0;
}

.AddTagContainer {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.3); /* Transparent white */
}

h1 {
    text-align: center;
    color: #155484;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #155484;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-primary {
    background-color: #155484;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.text-danger {
    color: #dc3545;
}

.dropdown {
    margin-bottom: 20px;
}

.dropdown-toggle {
    background-color: #6D9DBE;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

    .dropdown-toggle:hover {
        background-color: #0056b3;
    }

.dropdown-menu {
    background-color: #f2f2f2;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

/* Nav Sidebar */

.container {
    display: flex;
}

.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0px; /* Adjust the top position as needed */
    left: 0; /* Adjust the left position as needed */
    background-color: #8FB9D4;
    padding-top: 0;
    color: white;
}

.profile-picture {
    width: 100px; /* Adjust the width of the profile picture */
    height: 100px; /* Adjust the height of the profile picture */
    border-radius: 50%; /* Create a circle by setting border-radius to 50% */
    overflow: hidden; /* Ensure the image stays within the circular boundary */
    margin: 20px auto; /* Adjust margin as needed */
}

    .profile-picture img {
        width: 100%; /* Make the image fill the entire space of the circular container */
        height: auto; /* Maintain aspect ratio */
        display: block;
    }

.profile-name {
    text-align: center; /* Center the name */
    margin-top: 10px; /* Adjust the top margin as needed */
    font-size: 16px; /* Adjust the font size as needed */
    color: white; /* Set the color of the name */
}

.section {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .section:hover {
        background-color: #6D9DBE;
    }

.sub-sections {
    list-style: none;
    padding-left: 15px;
    display: none;
}

.sub-section {
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .sub-section:hover {
        background-color: #6D9DBE;
    }

.sub-sub-sections {
    list-style: none;
    padding-left: 15px;
    display: none;
}

.sub-sub-section {
    padding: 8px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .sub-sub-section:hover {
        background-color: #6D9DBE;
    }

.content {
    margin-left: 200px;
    padding: 20px;
}


a {
    text-decoration: none;
    color: #155484;
}

    a:hover {
        text-decoration: underline;
    }