body {
    background: linear-gradient(to bottom right, #94BCD7, white);
    font-family: 'Arial', sans-serif;
}


h1 {
    text-align: center;
    color: #155484;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn-outline-dark {
    text-decoration: none;
    padding: 5px 10px;
    margin: 2px;
    display: inline-block;
    border: 1px solid #333;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .btn-outline-dark:hover {
        background-color: #ddd;
    }
