body {
    background: linear-gradient(to bottom right, #94BCD7, white);
    font-family: 'DejaVu Sans Mono', monospace;
    margin: 0;
}

h1 {
    margin-left: 250px;
    text-align: center;
    color: #155484;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin: 0 auto; /* This centers the table horizontally */
    width: 900px;
    margin-left: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.3); /* Transparent white */
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
.btn-outline-dark {
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    margin-left: 250px;
    display: inline-block;
    border: 1px solid #333;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .btn-outline-dark:hover {
        background-color: #6D9DBE;
    }


/* Nav Sidebar */

.container {
    display: flex;
}

.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0px; /* Adjust the top position as needed */
    left: 0; /* Adjust the left position as needed */
    background-color: #8FB9D4;
    padding-top: 0;
    color: white;
}

.profile-picture {
    width: 100px; /* Adjust the width of the profile picture */
    height: 100px; /* Adjust the height of the profile picture */
    border-radius: 50%; /* Create a circle by setting border-radius to 50% */
    overflow: hidden; /* Ensure the image stays within the circular boundary */
    margin: 20px auto; /* Adjust margin as needed */
}

    .profile-picture img {
        width: 100%; /* Make the image fill the entire space of the circular container */
        height: auto; /* Maintain aspect ratio */
        display: block;
    }

.profile-name {
    text-align: center; /* Center the name */
    margin-top: 10px; /* Adjust the top margin as needed */
    font-size: 16px; /* Adjust the font size as needed */
    color: white; /* Set the color of the name */
}

.section {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .section:hover {
        background-color: #6D9DBE;
    }

.sub-sections {
    list-style: none;
    padding-left: 15px;
    display: none;
}

.sub-section {
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .sub-section:hover {
        background-color: #6D9DBE;
    }

.sub-sub-sections {
    list-style: none;
    padding-left: 15px;
    display: none;
}

.sub-sub-section {
    padding: 8px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .sub-sub-section:hover {
        background-color: #6D9DBE;
    }


a {
    text-decoration: none;
    color: #155484;
}

    a:hover {
        text-decoration: underline;
    }

