@model List<AccountDetails>

<link rel="stylesheet" type="text/css" href="/css/Admin/doctors.css">
@Html.Partial("shared.cshtml")



<h1>Registrated Admins</h1>

<table>

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
               
                <td>@user.Email</td>
                
               
            </tr>
        }
    </tbody>
</table>



