@model Stats

<h1></h1>

<table>
    <thead>
        <tr>
            <th>numOfIRequests</th>
            <th>numOfDoctors</th>
            <th>numOfPatients</th>
            <th>numOfAdmins</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.numOfIRequests</td>
            <td>@Model.numOfDoctors</td>
            <td>@Model.numOfPatients</td>
            <td>@Model.numOfAdmins</td>

        </tr>
        
    </tbody>
</table>