@model Stats

<link rel="stylesheet" type="text/css" href="/css/Admin/Index.css">

<div class="container">
    <div class="sidebar">
        <div class="profile-picture">
            <img src="https://i.imgur.com/siyPD5C.png" alt="Profile Picture">
        </div>
        <p class="profile-name">Nagham Saleh</p>

        <a href="#section1" class="section">STAFF MANAGEMENT</a>
        <ul class="sub-sections">
            <li>
                <a href="#doctorsInformation">Doctors Information</a>
                <ul class="sub-sub-sections">
                    <li><a asp-action="Doctors" asp-controller="Admin">View Pending Registrations</a></li>
                </ul>
            </li>
        </ul>

        <a href="#section2" class="section">SPECIALTIES MANAGEMENT</a>
        <ul class="sub-sections">
            <li>
                <a href="#Specielties">Specialties</a>
                <ul class="sub-sub-sections">
                    <li><a asp-action="Speciality" asp-controller="Admin">Register new specialty</a></li>
                    <li><a asp-action="ViewSpecialities" asp-controller="Admin">List of all specialties</a></li>
                    <li><a asp-action="Tag" asp-controller="Admin">Add Tag</a></li>
                </ul>
            </li>
        </ul>

        <a href="#section3" class="section">MANAGE ADMINISTRATORS</a>
        <ul class="sub-sections">
            <li>
                <a href="#Administrators">Administrators</a>
                <ul class="sub-sub-sections">
                    <li><a asp-action="CreateAdmin" asp-asp-controller="Account">Add Administrator</a></li>
                    <li><a href="#RegisteredAdministrators">Registered Administrators</a></li>
                </ul>
            </li>
        </ul>
    </div>



    <div class="content">
        <div class="stats-container">
            <div class="stat-box">
                <h1>Pending Requests</h1>
                <i class="fa-solid fa-bell"></i>
                <p><a asp-action="Doctors" asp-controller="Admin">@Model.numOfIRequests</a></p>
            </div>

            <div class="stat-box">
                <h1>Number of Doctors</h1>
                <p><a asp-action="Doctors" asp-controller="Admin">@Model.numOfDoctors</a></p>
            </div>
            <!--Action name is wrong, should be edited to present list of XXX-->
            <div class="stat-box">
                <h1>Number of Patients</h1>
                <p><a asp-action="Doctors" asp-controller="Admin">@Model.numOfPatients</a></p>
            </div>

            <div class="stat-box">
                <h1>Number of Admins</h1>
                <p><a asp-action="Doctors" asp-controller="Admin">@Model.numOfAdmins</a></p>
              
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sections = document.querySelectorAll('.section');
        var subSections = document.querySelectorAll('.sub-sections');

        sections.forEach(function (section) {
            section.addEventListener('click', function () {
                var subSectionsList = this.nextElementSibling;
                subSectionsList.style.display = subSectionsList.style.display === 'none' ? 'block' : 'none';
            });
        });

        subSections.forEach(function (subSections) {
            subSections.addEventListener('click', function () {
                var subSubSectionsList = this.querySelector('.sub-sub-sections');
                subSubSectionsList.style.display = subSubSectionsList.style.display === 'none' ? 'block' : 'none';
            });
        });
    });
</script>

