@model List<AccountDetails>

<link rel="stylesheet" type="text/css" href="/css/Admin/doctors.css">
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br>
<br>


<h1>Registrated Patients</h1>

<table>

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
               
                <td>@user.Email</td>
                <td>@user.Gender</td>

            </tr>
        }
    </tbody>
</table>




<!-- -->
