@model SpecialityVM

<link rel="stylesheet" type="text/css" href="/css/Admin/Specialty.css">
<script src="~/js/Admin/Speciality.js"></script>

<form asp-controller="Admin" asp-action="Speciality" method="post">

    <div class="speciality-container">
        <div class="container">
            <div class="sidebar">
                <div class="profile-picture">
                    <img src="https://i.imgur.com/siyPD5C.png" alt="Profile Picture">
                </div>
                <p class="profile-name">Nagham Saleh</p>

                <a href="#section1" class="section">STAFF MANAGEMENT</a>
                <ul class="sub-sections">
                    <li>
                        <a href="#doctorsInformation">Doctors Information</a>
                        <ul class="sub-sub-sections">
                            <li><a asp-action="Doctors" asp-controller="Admin" class="a">View Pending Registrations</a></li>
                        </ul>
                    </li>
                </ul>

                <a href="#section2" class="section">SPECIALTIES MANAGEMENT</a>
                <ul class="sub-sections">
                    <li>
                        <a href="#Specielties">Specialties</a>
                        <ul class="sub-sub-sections">
                            <li><a asp-action="Speciality" asp-controller="Admin">Register new specialty</a></li>
                            <li><a asp-action="ViewSpecialities" asp-controller="Admin">List of all specialties</a></li>
                            <li><a asp-action="Tag" asp-controller="Admin">Add Tag</a></li>
                        </ul>
                    </li>
                </ul>

                <a href="#section3" class="section">MANAGE ADMINISTRATORS</a>
                <ul class="sub-sections">
                    <li>
                        <a href="#Administrators">Administrators</a>
                        <ul class="sub-sub-sections">
                            <li><a asp-action="CreateAdmin" asp-controller="Account">Add Administrator</a></li>
                            <li><a href="#RegisteredAdministrators">Registered Administrators</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <h1>Add Speciality</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-primary">Add</button>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sections = document.querySelectorAll('.section');
        var subSections = document.querySelectorAll('.sub-sections');

        sections.forEach(function (section) {
            section.addEventListener('click', function () {
                var subSectionsList = this.nextElementSibling;
                subSectionsList.style.display = subSectionsList.style.display === 'none' ? 'block' : 'none';
            });
        });

        subSections.forEach(function (subSections) {
            subSections.addEventListener('click', function () {
                var subSubSectionsList = this.querySelector('.sub-sub-sections');
                subSubSectionsList.style.display = subSubSectionsList.style.display === 'none' ? 'block' : 'none';
            });
        });
    });
</script>

