@model SpecialityVM

<link rel="stylesheet" type="text/css" href="/css/Admin/Specialty.css">
<script src="~/js/Admin/Speciality.js"></script>
@Html.Partial("shared.cshtml")


<form asp-controller="Admin" asp-action="Speciality" method="post">

    <div class="speciality-container">
        

        <h1>Add Speciality</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-primary">Add</button>
    </div>
</form>


