@model TagVM

<link rel="stylesheet" type="text/css" href="/css/Admin/tag.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@Html.Partial("shared.cshtml")

<form asp-controller="Admin" asp-action="Tag" method="post">

    <link rel="stylesheet" href="/css/Account/tag.css">
    
    <div class="AddTagContainer">
        <h1>Add Tag</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name">Tag Name </label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="dropdown">
           
           
            <div class="form-group">
                <label asp-for="SelectedSpeciality" class="control-label">Select related speciality</label>
                <span class="text-danger">
                    @Html.DropDownListFor(vm => vm.SelectedSpeciality,
                    Model.SpecialityName.Select(a=> new SelectListItem(){
                    Text = a.Name,
                    Value = a.Name.ToString()
                    }),"Specialities",  new { @class = "btn btn-secondary dropdown-toggle"})

                </span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description">Tag Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </div>
    <div id="successMessage" class="alert alert-success" style="display:none;">Successfully Saved</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/Home/Index.js"></script>
    <script src="~/js/Admin/Tag.js"></script>


</form>


