@model TagVM

<link rel="stylesheet" type="text/css" href="/css/Account/tag.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form asp-controller="Admin" asp-action="Tag" method="post">

    <link rel="stylesheet" href="/css/Account/tag.css">

    <h1>Add Tag</h1>
    <div class="login-container">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select an option
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @Html.LabelFor(model => model.SpecialityName, "Select an option", new { @class = "control-label" })
                @foreach (var s in Model.SpecialityName)
                {
                    @Html.DropDownListFor(model => model.SelectedSpeciality,
                new SelectList(new List<string> { s.Name }),
                new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/Home/Index.js"></script>
    <script src="/js/script.js"></script>
</form>
