@model TagVM

<link rel="stylesheet" type="text/css" href="/css/Admin/tag.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form asp-controller="Admin" asp-action="Tag" method="post">

    <link rel="stylesheet" href="/css/Account/tag.css">
    <div class="container">
        <div class="sidebar">
            <div class="profile-picture">
                <img src="https://i.imgur.com/siyPD5C.png" alt="Profile Picture">
            </div>
            <p class="profile-name">Nagham Saleh</p>

            <a href="#section1" class="section">STAFF MANAGEMENT</a>
            <ul class="sub-sections">
                <li>
                    <a href="#doctorsInformation">Doctors Information</a>
                    <ul class="sub-sub-sections">
                        <li><a asp-action="Doctors" asp-controller="Admin" class="a">View Pending Registrations</a></li>
                    </ul>
                </li>
            </ul>

            <a href="#section2" class="section">SPECIALTIES MANAGEMENT</a>
            <ul class="sub-sections">
                <li>
                    <a href="#Specielties">Specialties</a>
                    <ul class="sub-sub-sections">
                        <li><a asp-action="Speciality" asp-controller="Admin">Register new specialty</a></li>
                        <li><a asp-action="ViewSpecialities" asp-controller="Admin">List of all specialties</a></li>
                        <li><a asp-action="Tag" asp-controller="Admin">Add Tag</a></li>
                    </ul>
                </li>
            </ul>

            <a href="#section3" class="section">MANAGE ADMINISTRATORS</a>
            <ul class="sub-sections">
                <li>
                    <a href="#Administrators">Administrators</a>
                    <ul class="sub-sub-sections">
                        <li><a href="#AddAdministrator">Add Administrator</a></li>
                        <li><a href="#RegisteredAdministrators">Registered Administrators</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="AddTagContainer">
        <h1>Add Tag</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name">Tag Name </label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select related speciality
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @Html.LabelFor(model => model.SpecialityName, "Select an option", new { @class = "control-label" })
                @foreach (var s in Model.SpecialityName)
                {
                    @Html.DropDownListFor(model => model.SelectedSpeciality,
                new SelectList(new List<string> { s.Name }),
                new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description">Tag Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/Home/Index.js"></script>
    <script src="/js/script.js"></script>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sections = document.querySelectorAll('.section');
        var subSections = document.querySelectorAll('.sub-sections');

        sections.forEach(function (section) {
            section.addEventListener('click', function () {
                var subSectionsList = this.nextElementSibling;
                subSectionsList.style.display = subSectionsList.style.display === 'none' ? 'block' : 'none';
            });
        });

        subSections.forEach(function (subSections) {
            subSections.addEventListener('click', function () {
                var subSubSectionsList = this.querySelector('.sub-sub-sections');
                subSubSectionsList.style.display = subSubSectionsList.style.display === 'none' ? 'block' : 'none';
            });
        });
    });
</script>
