@model List<TagVM>

<link rel="stylesheet" type="text/css" href="/css/Admin/ViewSpecialities.css">
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br><br>

<table>

    <h1>List of All Tags</h1>
    <thead>
        <tr>
            <th>Tag</th>
            <th>Speciality</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Name</td>
                <td>@tag.SelectedSpeciality</td>
                <td class="description-column">@tag.Description</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Tag" asp-controller="Admin" class="btn btn-outline-dark btn-sm me-1">Add Tag</a>
