@model List<TagVM>

<link rel="stylesheet" type="text/css" href="/css/Admin/ViewTags.css">
@Html.Partial("shared.cshtml")

<h1>Tag List</h1>

<table>
    <thead>
        <tr>
            <th>Tag</th>
            <th>Speciality</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Name</td>
                <td>@tag.SelectedSpeciality</td>
                <td class="description-column">@tag.Description</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Tag" asp-controller="Admin" style="margin-left: 290px; margin-top:15px;" class="btn btn-outline-dark btn-sm me-1">Add Tag</a>
