@model List<SpecialityVM>

<link rel="stylesheet" type="text/css" href="/css/Admin/ViewSpecialities.css">
@Html.Partial("shared.cshtml")

<form>


    <table>
        <h1>List of All Specialities</h1>

        <thead>
            <tr>
                <th>Speciality</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in Model)
            {
                <tr>
                    <td>@tag.Name</td>
                    <td>@tag.Description</td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Speciality" asp-controller="Admin" class="btn btn-outline-dark btn-sm me-1">Add Speciality</a>

</form>



