@model RegisterVM

<link rel="stylesheet" type="text/css" href="/css/Account/CreateAdmin.css">


<form asp-controller="Account" asp-action="CreateAdmin" method="post">


    <script src="~/js/Admin/doctors.js"></script>

    <div class="container">
        <div class="sidebar">
            <div class="profile-picture">
                <img src="https://i.imgur.com/siyPD5C.png" alt="Profile Picture">
            </div>
            <p class="profile-name">Nagham Saleh</p>

            <a href="#section1" class="section">STAFF MANAGEMENT</a>
            <ul class="sub-sections">
                <li>
                    <a href="#doctorsInformation">Doctors Information</a>
                    <ul class="sub-sub-sections">
                        <li><a asp-action="Doctors" asp-controller="Admin" class="a">View Pending Registrations</a></li>
                    </ul>
                </li>
            </ul>

            <a href="#section2" class="section">SPECIALTIES MANAGEMENT</a>
            <ul class="sub-sections">
                <li>
                    <a href="#Specielties">Specialties</a>
                    <ul class="sub-sub-sections">
                        <li><a asp-action="Speciality" asp-controller="Admin">Register new specialty</a></li>
                        <li><a asp-action="ViewSpecialities" asp-controller="Admin">List of all specialties</a></li>
                        <li><a asp-action="Tag" asp-controller="Admin">Add Tag</a></li>
                    </ul>
                </li>
            </ul>

            <a href="#section3" class="section">MANAGE ADMINISTRATORS</a>
            <ul class="sub-sections">
                <li>
                    <a href="#Administrators">Administrators</a>
                    <ul class="sub-sub-sections">
                        <li><a asp-action="CreateAdmin" asp-controller="Admin">Add Administrator</a></li>
                        <li><a href="#RegisteredAdministrators">Registered Administrators</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
<div class="registration-container">
        <h1 style="text-align: center; color: #155484;">
            Register Admin
        </h1>

        <div class="text-danger"></div>



    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </div>

</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sections = document.querySelectorAll('.section');
        var subSections = document.querySelectorAll('.sub-sections');

        sections.forEach(function (section) {
            section.addEventListener('click', function () {
                var subSectionsList = this.nextElementSibling;
                subSectionsList.style.display = subSectionsList.style.display === 'none' ? 'block' : 'none';
            });
        });

        subSections.forEach(function (subSections) {
            subSections.addEventListener('click', function () {
                var subSubSectionsList = this.querySelector('.sub-sub-sections');
                subSubSectionsList.style.display = subSubSectionsList.style.display === 'none' ? 'block' : 'none';
            });
        });
    });
</script>