@model RegisterVM

<link rel="stylesheet" type="text/css" href="/css/Account/CreateAdmin.css">
<script src="~/js/Account/DoctorRegister.js"></script>


<form asp-controller="Account" asp-action="CreateAdmin" method="post">


    <script src="~/js/Admin/doctors.js"></script>
   <div class="container">
    <div class="sidebar">
            <br><br>


        <div class="profile-picture">
            <a asp-action="Index" asp-controller="Admin"><img src="https://i.imgur.com/siyPD5C.png" alt="Profile Picture"></a>
        </div>
        <p class="profile-name"></p>

        <a href="#section1" class="section">STAFF MANAGEMENT</a>
        <ul class="sub-sections">
            <li>
                <a href="#doctorsInformation">Doctors Information</a>
                <ul class="sub-sub-sections">
                    <li><a asp-action="Requests" asp-controller="Admin" class="a">View Pending Registrations</a></li>
                </ul>
            </li>
        </ul>

        <a href="#section2" class="section">SPECIALTIES MANAGEMENT</a>
        <ul class="sub-sections" id="section2">
            <li>
                <a href="#Specielties">Specialties</a>
                <ul class="sub-sub-sections">
                    <li><a asp-action="Speciality" asp-controller="Admin">Register new specialty</a></li>
                    <li><a asp-action="ViewSpecialities" asp-controller="Admin">List of all specialties</a></li>
                    <li><a asp-action="Tag" asp-controller="Admin">Add Tag</a></li>
                    <li><a asp-action="ViewTags" asp-controller="Admin">View All Tags</a></li>
                </ul>
            </li>
        </ul>

        <a href="#section3" class="section">MANAGE ADMINISTRATORS</a>
        <ul class="sub-sections">
            <li>
                <a href="#Administrators">Administrators</a>
                <ul class="sub-sub-sections">
                    <li><a asp-action="CreateAdmin" asp-controller="Account">Add Administrator</a></li>
                    <li><a asp-action="Admins" asp-controller="Admin">Registered Administrators</a></li>
                </ul>
            </li>
        </ul>

        <!-- Logout button -->
        <a asp-action="Logout" asp-controller="Account" id="logoutButton" style="color: white;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 12h-6M3 12h16M7 16l-4-4 4-4" />
            </svg>
            Logout
        </a>
    </div>
</div>
    <br><br>

    <div class="registration-container">
        <h1 style="text-align: center; color: #155484;">
            Register Admin
        </h1>

        <div class="text-danger"></div>



        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </div>

</form>

