@model DoctorRegisterVM

<link rel="stylesheet" type="text/css" href="/css/Home/doctorRegister.css">


<form asp-action="doctorRegister">


<h1 style="text-align: center;">Register as Medical Practitioner</h1>

<div class="registration-container">
    <div asp-validation-summary="All" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DateOfBirth">Date of Birth</label>
            <input asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Telephone">Telephone</label>
            <input asp-for="Telephone" class="form-control" />
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="form-label">Gender</label><br />
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Gender" value="M" id="male" />
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Gender" value="F" id="female" />
                <label class="form-check-label" for="female">Female</label>
            </div>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Experience">Experience</label>
            <input asp-for="Experience" class="form-control" />
            <span asp-validation-for="Experience" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ShortBio">Short Biography</label>
            <input asp-for="ShortBio" class="form-control" />
            <span asp-validation-for="ShortBio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Specialty">Specialty</label>
            <input asp-for="Specialty" class="form-control" />
            <span asp-validation-for="Specialty" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Languages">Languages</label>
            <input asp-for="Languages" class="form-control" />
            <span asp-validation-for="Languages" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CurrentHospital">Current Hospital</label>
            <input asp-for="CurrentHospital" class="form-control" />
            <span asp-validation-for="CurrentHospital" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </div>

    </form>
