@model LoginVM
@*@{
    Layout = "~/Views/Home/_Shared.cshtml";
    
}*@
<link rel="stylesheet" type="text/css" href="/css/Account/Login.css">
<link rel="stylesheet" type="text/css" href="/css/Home/Index.css">
<script src="~/js/Account/login.js"></script>

<form id="loginForm" asp-controller="Account" asp-action="Login" method="post">

    <h1 style="text-align: center;">Login</h1>
    <div class="login-container">

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" id="email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <span id="emailError" class="text-danger d-none">Please enter your email address.</span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" id="password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <span id="passwordError" class="text-danger d-none">Please enter your password.</span>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>