body {
    margin: 0;
    font-family: 'DejaVu Sans Mono', monospace;
    background: linear-gradient(to bottom right, #5BA9A9, #84A5E3); /* Gradient background */
    color: #004345; /* Text color */
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: white; /* White box */
    border-radius: 10px;
    color: #004345; /* Text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

